.card-product {
  width: 310px;
  height: 370px;
  flex: 1 1 auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  transform: scale(1);
  transition: all 0.25s ease;
}

.card-product:hover {
  box-shadow: var(--facebook-shadow);
  transform: scale(1.01);
  cursor: pointer;
}

.card-product:active {
  opacity: 0.8;
}

.card__text-limited {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card__picture {
  margin-left: auto;
  margin-right: auto;
  flex: 1 1 auto;
  width: 100%;
  height: 40px;
  object-fit: contain;
}

.footer-card {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 7px 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  background-color: var(--green);
  padding: 7px;
  border-radius: 12px;
  color: #000;
  width: fit-content;
  font-weight: 700;
  margin: 0;
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

.price__icon {
  font-size: 24px;
  margin: 0 5px;
}

.price__currency {
  font-size: 0.8em;
}

.footer-card__link {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.footer-card__link:hover .footer-card__text {
  text-decoration: underline;
}

.footer-card__icon {
  margin-right: 5px;
  font-size: 1.3em;
}
