.card-single {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  grid-auto-columns: min-content;
}

.card__text-aumented {
  font-size: 18px;
  margin-top: 0;
}

.card-single__id:hover {
  cursor: pointer;
  text-decoration: dotted black;
}

.price-aumented {
  font-size: 28px;
}

.card-single__image-container {
  width: 300px;
  margin: 0 auto;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-single__image {
  max-width: 300px;
  object-fit: cover;
}

.card-single__image-missing {
  width: 120px;
  height: 120px;
  fill: #ffcc00;
}

.card-single__image-loader {
  width: 120px;
  height: 120px;
  animation: spin 0.7s ease infinite;
  fill: var(--green);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .card-single {
    grid-template-columns: 1fr;
  }
}
