.main-navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 3px dashed var(--green);
  border-left: 3px dashed var(--green);
  border-right: 3px dashed var(--green);
  box-shadow: var(--facebook-shadow);
  border-radius: 0 0 12px 12px;
  margin: 0 10px;
}

.main-navbar-link {
  color: black;
  max-width: 40%;
  text-decoration: none;
  text-align: center;
  padding: 7px 3px;
  border-radius: 12px;
  font-weight: 700;
  transform: scale(1);
  transition: all 0.25s ease;
}

.main-navbar-link:hover {
  transform: scale(1.1);
}

.main-navbar-logo {
  height: 40px;
  margin-left: 15px;
  margin-right: 25px;
}
