.footer {
  background-color: var(--fucsia);
  height: 130px;
  padding: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.separator {
  height: 90%;
  width: 1px;
  background-color: #fff;
  opacity: 0.3;
}

.company-information,
.credits {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
}

.company-information__logo {
  width: 100px;
  margin: auto;
}

.credits {
  text-align: center;
  font-size: 0.9em;
}

.footer__link {
  color: inherit;
  width: fit-content;
  margin: auto;
  text-decoration: none;
}

.company-information__section {
  margin: auto;
}

.footer__icon {
  cursor: pointer;
  font-size: 40px;
  margin: 10px auto;
}
